.ban-btns .buy{
	background:#f48756;
}
.ban-btns .buy:hover,.callout-content .btnn:hover{
	background:rgba(244,135,86,.8);
}
.ban-btns .buy{
	border-color:#f48756;
}
.service:hover i,.text-with-btn .btnn:hover,.callout-content .btnn,.sorting-content .btnn:hover,
.form form .message3-btn .submit:hover,.formm #senddd:hover{
	background:#f48756;
	border-color:#f48756;
}
.service:hover .iconss span:after{
	border-bottom-color:#f48756;

}
.text-with-btn ul li:before{
	color:#f48756;
}
.service:hover .iconss span:before{
	border-top-color:#f48756;
}
.port_wrapper ul li .active:after,.port_wrapper ul  li .active:before{
	content: "";
   background:#f48756!important;
    z-index: 999;
	
	}
.port_wrapper ul li .active{
	color:#f48756!important;
	
	}	